<app-sidebar/>
<div class="sm:ml-64">
<app-navbar/>


    <div class="pl-4 pr-4 pt-4">
        <div
            class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <div class="flex flex-row pb-5">
                <div class="basis-10/12">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Pengguna
                    </h5>
                </div>  
                <div class="basis-2/12">
                    <button
                        type="submit"
                        class="w-full text-black bg-gray-400 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        [routerLink]="['/user']"
                    >
                        Kembali
                    </button>
                </div>
            </div>

            <form (ngSubmit)="onUpdateUser()">
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        Nama
                    </div>
                    <div class="w-3/4 ml-2 rounded-md ring-2 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                        <input type="text" name="nama" id="nama" autocomplete="nama" size="150" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="nasabah.nama">
                        <!-- <span *ngIf=""></span> -->
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        User Id
                    </div>
                    <div class="w-3/4 ml-2 rounded-md ring-2 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                        <input type="text" name="userId" id="userId" autocomplete="userId" size="150" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="nasabah.userId">
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        Nomor Rekening
                    </div>
                    <div class="w-3/4 ml-2 rounded-md ring-2 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                        <input type="text" name="noRekening" id="noRekening" autocomplete="noRekening" size="150" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="nasabah.noRekening">
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        Nomor Telepon
                    </div>
                    <div class="w-3/4 ml-2 rounded-md ring-2 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                        <input type="text" name="telepon" id="telepon" autocomplete="telepon" size="150" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="nasabah.telepon">
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        Jenis Kelamin
                    </div>
                    <div class="flex items-center space-x-4 focus-within:ring-inset focus-within:ring-indigo-600">
                        <div class="flex justify-between items-center py-1.5 pl-1 pr-4">
                            <input type="radio" id="jenisKelaminPria" name="jenisKelamin" value="Pria" class="" [(ngModel)]="nasabah.jenisKelamin">
                            <label for="jenisKelaminPria" class="p-2 font-medium">Pria</label>
                        </div>
                        <div class="flex justify-between items-center py-1.5 pl-1 pr-4">
                            <input type="radio" id="jenisKelaminWanita" name="jenisKelamin" value="Wanita" class="ml-2" [(ngModel)]="nasabah.jenisKelamin">
                            <label for="jenisKelaminWanita" class="p-2 font-medium">Wanita</label>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        Nama Ibu Kandung
                    </div>
                    <div class="w-3/4 ml-2 rounded-md ring-2 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                        <input type="text" name="namaIbuKandung" id="namaIbuKandung" autocomplete="namaIbuKandung" size="150" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="nasabah.namaIbuKandung">
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        Jenis Tabungan
                    </div>
                    <div class="w-3/4 ml-2 rounded-md ring-2 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                        <input type="text" name="jenisTabungan" id="jenisTabungan" autocomplete="jenisTabungan" size="150" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="nasabah.jenisTabungan">
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <div class="w-1/4 font-bold text-base">
                        MPIN
                    </div>
                    <div class="w-3/4 ml-2 rounded-md ring-2 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                        <input type="text" name="mpin" id="mpin" autocomplete="mpin" size="150" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="nasabah.mpin">
                    </div>
                </div>
                <div class="flex justify-end mb-5">
                    <div class="basis-2/12">
                        <button
                            type="submit"
                            class="w-full text-black bg-orange-400 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            data-modal-target="popupTambahUser"
                            data-modal-toggle="popupTambahUser"
                        >
                            Tambah Pengguna
                        </button>
                        <div id="popupTambahUser" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <div class="relative p-4 w-full max-w-md max-h-full">
                                <div class="relative bg-gray-300 rounded-lg shadow dark:bg-gray-700">
                                    <div class="p-4 md:p-5 text-center">
                                        <div class="mb-5 text-xs font-bold text-black dark:text-gray-400">APAKAH ANDA YAKIN UNTUK MENAMBAH PENGGUNA?</div>
                                        <input 
                                            data-modal-hide="popupTambahUser" 
                                            type="submit" 
                                            value="YA" 
                                            
                                            class="text-black font-bold bg-orange-400 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 rounded-lg text-xs inline-flex items-center px-5 py-2.5 text-center">
    
                                            <!-- YA -->
                                        <!-- </button> -->
                                        <button data-modal-hide="popupTambahUser" type="button" class="py-2.5 px-5 ms-3 text-xs font-bold text-gray-900 focus:outline-none bg-gray-100 rounded-lg border border-gray-300 hover:bg-gray-500  focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                            TIDAK
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>      
            </div>
        </div>
    </div>