

<app-sidebar />
<div class="sm:ml-64">
  <app-navbar/>
  <div class="p-4">
    <div
      class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Transaksi Terakhir
      </h5>
      <div class="flex flex-row pb-4">
        <button class="px-4 ml-2 p-1 rounded"
        [ngClass]="selectedFilter === 'all' ? 'bg-gray-400 text-black font-semibold' : 'text-gray-400 bg-white' "
        (click)="getListTransaction()">Semua</button
        >
        <button class="px-4 ml-2 p-1 rounded"
        [ngClass]="selectedFilter === 'day' ? 'bg-gray-400 text-black font-semibold' : 'text-gray-400 bg-white' "
        (click)="filteredByDay()"  >Hari Ini</button
        >
        <button class="px-4 ml-2 p-1 rounded"
        [ngClass]="selectedFilter === 'week' ? 'bg-gray-400 text-black font-semibold' : 'text-gray-400 bg-white' "
        (click)="filteredByWeek()"  >Minggu Ini</button
        >
        <button class="px-4 ml-2 p-1 rounded"
        [ngClass]="selectedFilter === 'month' ? 'bg-gray-400 text-black font-semibold' : 'text-gray-400 bg-white' "
        (click)="filteredByMonth()"  >Bulan Ini</button
        >
      </div>
      <table id="exampleTable" class="display" style="width: 100%">
      </table>
    </div>
  </div>
</div>




