<app-sidebar />
<div class="sm:ml-64">
  <app-navbar />
  <div class="p-4 flex flex-row gap-4">
    <div class="flex flex-col gap-4">
      <div
        class="flex-1 p-6 bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Jumlah Pocket Tabungan
        </h5>

        <div *ngFor="let pocket of pocketTabunganCounts">
          <h5
            class="font-bold text-5xl text-gray-700 dark:text-gray-400"
            style="color: #f7c935"
          >
            {{ pocket.count }}
          </h5>
        </div>
      </div>

      <div
        class="block flex-1 p-6 bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Jumlah Pocket Pengeluaran
        </h5>

        <div *ngFor="let pocket of pocketPengeluaranCounts">
          <h5
            class="font-bold text-5xl text-gray-700 dark:text-gray-400"
            style="color: #f8ab62"
          >
            {{ pocket.count }}
          </h5>
        </div>
      </div>
    </div>

    <div
      class="flex flex-1 p-6 justify-center bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <div class="flex-col flex items-center">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Perbandingan Jumlah Pocket Tabungan dan Pocket Pengeluaran
        </h5>
        <div class="w-96 h-96 flex-1 flex">
          <canvas id="pocketCategoriesChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="pl-4 pr-4 mb-4 grid grid-flow-row-dense grid-cols-2 gap-4">
    <div class="flex flex-col gap-4">
      <div
        class="block flex-1 p-6 bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div class="flex flex-row items-center justify-between">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Kategori Pocket <br />Tabungan
          </h5>

          <div class="w-96 h-96">
            <canvas id="piechartPocketTabungan"></canvas>
          </div>
        </div>
      </div>

      <div
        class="block flex-1 p-6 bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Pocket Tabungan Terbanyak
        </h5>

        <div *ngFor="let item of pocketCategoriesTabungan.slice(0, 3); let i = index">
          <p class="font-semibold align-top text-lg">
            {{ i + 1 }}. {{ item.pocketName }}
          </p>
          <div class="flex flex-row justify-between">
            <p
              class="flex flex-1 pl-4"
              style="color: #e36012; font-weight: lighter; font-size: large"
            >
              {{ item.count }} Pocket
            </p>
            <p
              style="
                color: #f57e0d;
                font-weight: lighter;
                font-size: large;
                padding-left: 15rem;
                text-align: right;
              "
            >
              Rp. {{ item.saldoPocket | thousandSeparator }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <div
        class="block flex-1 p-6 bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div class="flex flex-row items-center justify-between">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Kategori Pocket <br />Pengeluaran
          </h5>

          <div class="w-96 h-96">
            <canvas id="piechartPocketPengeluaran"></canvas>
          </div>
        </div>
      </div>
      <div
        class="block flex-1 p-6 bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Pocket Pengeluaran Terbanyak
        </h5>

        <div *ngFor="let item of pocketCategoriesPengeluaran.slice(0, 3); let i = index">
          <p class="font-semibold align-top text-lg">
            {{ i + 1 }}. {{ item.pocketName }}
          </p>
          <div class="flex flex-row justify-between">
            <p
              class="flex flex-1 pl-4"
              style="color: #e36012; font-weight: lighter; font-size: large"
            >
              {{ item.count }} Pocket
            </p>
            <p
              style="
                color: #f57e0d;
                font-weight: lighter;
                font-size: large;
                padding-left: 15rem;
                text-align: right;
              "
            >
              Rp. {{ item.saldoPocket | thousandSeparator }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
