<app-sidebar/>
<div class="sm:ml-64">
  <app-navbar/>
  <div class="p-4">
    <div
      class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Daftar Pocket
      </h5>
      <div class="flex flex-row pb-4">
        <mark class="px-2 text-black font-semibold bg-gray-400 p-1 rounded"
          >Semua</mark
        >
        <mark class="px-2 text-gray-400 ml-2 bg-white p-1 rounded"
          >Pocket Tabungan</mark
        >
        <mark class="px-2 text-gray-400 ml-2 bg-white p-1 rounded"
          >Pocket Pengeluaran</mark
        >
      </div>
      <table id="exampleTable" class="display" style="width: 100%">
        <thead>
          <tr>
            <th class="px-4 py-2">No</th>
            <th class="px-4 py-2">Jenis Pocket</th>
            <th class="px-4 py-2">Kategori Pocket</th>
            <th class="px-4 py-2">Deskripsi</th>
            <th class="px-4 py-2">Pembuat</th>
            <th class="px-4 py-2">Tanggal Dibuat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">1. </td>
            <td class="border px-4 py-2">Tabungan</td>
            <td class="border px-4 py-2">Pocket Tabungan</td>
            <td class="border px-4 py-2">-</td>
            <td class="border px-4 py-2">Iko</td>
            <td class="border px-4 py-2">2024/03/20</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">2. </td>
            <td class="border px-4 py-2">Liburan</td>
            <td class="border px-4 py-2">Pocket Tabungan</td>
            <td class="border px-4 py-2">-</td>
            <td class="border px-4 py-2">Gumilar</td>
            <td class="border px-4 py-2">2024/03/20</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">2. </td>
            <td class="border px-4 py-2">Transportasi</td>
            <td class="border px-4 py-2">Pocket Pengeluaran</td>
            <td class="border px-4 py-2">-</td>
            <td class="border px-4 py-2">Ela</td>
            <td class="border px-4 py-2">2024/03/20</td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>
