<app-sidebar/>
<div class="sm:ml-64">
  <app-navbar/>
  <div class="p-4">
    <div
      class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Daftar Pocket
      </h5>
      <div class="flex flex-row pb-4">
        <button class="px-4 ml-2 p-1 rounded"
        [ngClass]="selectedFilter === 'all' ? 'bg-gray-400 text-black font-semibold' : 'text-gray-400 bg-white' "
        (click)="fetchListPocket()">Semua</button
        >
        <button class="px-4 ml-2 p-1 rounded"
        [ngClass]="selectedFilter === 'tabungan' ? 'bg-gray-400 text-black font-semibold' : 'text-gray-400 bg-white' "
        (click)="filteredByTabungan()"  >Pocket Tabungan</button
        >
        <button class="px-4 ml-2 p-1 rounded"
        [ngClass]="selectedFilter === 'pengeluaran' ? 'bg-gray-400 text-black font-semibold' : 'text-gray-400 bg-white' "
        (click)="filteredByPengeluaran()"  >Pocket Pengeluaran</button
        >
      </div>
      <table datatable *ngIf="listPockets.length" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger.asObservable() | async" class="display" style="width: 100%">
        <thead>
          <tr>
            <th class="px-4 py-2">No</th>
            <th class="px-4 py-2">Jenis Pocket</th>
            <th class="px-4 py-2">Kategori Pocket</th>
            <th class="px-4 py-2">Deskripsi</th>
            <th class="px-4 py-2">Pembuat</th>
            <th class="px-4 py-2">Tanggal Dibuat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listPockets;  let i = index">
            <td class="border px-4 py-2">{{ i + 1}}. </td>
            <td class="border px-4 py-2">{{item.tipe}}</td>
            <td class="border px-4 py-2">{{item.nama}}</td>
            <td class="border px-4 py-2">{{item.deskripsi}}</td>
            <td class="border px-4 py-2">{{item.namaPembuat}}</td>
            <td class="border px-4 py-2">{{item.tanggalDibuat | date:'dd-MM-yyyy HH:mm:ss'}}</td>
          </tr>

          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>
